// Place all the styles related to the machines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




$color-blue:    #45d9fd;
$color-alert:   #ee6e73;
$color-text:    #333;

 body {
     background-image: url('/image/mountain.jpeg');
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-family: 'Open Sans', sans-serif;
     height: 100%;
     width: 100%;
     margin: 0;
     position: absolute;

 &:before {
   content: '';
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       background-image: linear-gradient(to bottom,#4fc3f7,#45d9fd,#88dba3);

       opacity: .6;
   }
}



blockquote {
    color: #ee6e73;
    display: flex;
    align-items: center;
    border: 1px solid #ee6e73;
    background: lighten( $color-alert, 25% );
    padding: 10px 20px 10px 5px;
}

i {
    margin-right: 5px
}

.content {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 60%;
    //height: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    transition: width 1s;
    text-align: center;
    min-height: 60%;
    max-height: 6 0%;
    position: relative;
}


.h1-title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 90px;
    transition: font-size 2s;
}

.h2-title {
    font-size: 20px;
    font-weight: bold;
}

.bubbles {
    display: inline-block;
    font-family: arial;
    position: relative;
    font-size: 30px;
    margin-top: -40px;
}

.bubbles h1 {
    position: relative;
    margin: 1em 0 0;
    font-family: 'Luckiest Guy', cursive;
    color: rgba(255, 255, 255, 0.9);
    z-index: 2;
}

.individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.year {
    color: #fff;
    z-index: 1;
    font-size: 13px;
    margin-top: 10px;
}


#wrapper {
	// background-color: #fff;
    width: 100%;
	// height: 100%;
	position: absolute;
	// left: 0;
	// bottom: 0;
    //margin-top: 30px;
	//border: 1px solid red;
    position: relative;
    margin-bottom: 20px;
    color: $color-text;
    font-size: 13px;
}
#carousel {
	//margin-top: -105px;
	//border: 1px solid blue;
}
#carousel div {
	text-align: center;
	width: 100px;
	height: 250px;
	float: left;
	position: relative;
	//border: 1px solid yellow;
}
#carousel div img {
	border: none;
	width: 100%;
	height: auto;
}
// #carousel div span {
// 	display: none;
// }
// #carousel div:hover span {
// 	background-color: #333;
// 	color: #fff;
// 	display: inline-block;
// 	width: 100px;
// 	padding: 2px 0;
// 	margin: 0 0 0 -50px;
// 	position: absolute;
// 	bottom: 30px;
// 	left: 50%;
// 	border-radius: 3px;
// }

.value {
//    display: none;
}
// 
// input[type=range]+.thumb .value {
//     background: red;
// }
//
// input[type=range]+.thumb {
//     background: red;
// }

.new_tijd {
    width: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    //border: 1px solid red;
}


@media (max-width: 900px) {
    .content {
        width: 90%;
    }

    .h1-title {
        font-size: 60px;
    }

    .new_tijd, .row{
        width: 80%;
    }
}
