<h1>Ingevoerde wasbeurten</h1>

<%= link_to 'Nieuwe aanmaken', new_tijd_path %><br /><br /><br />

	<% @tijds.each do |tijd| %>
		<% if tijd.machine.name %>
			<b><%= tijd.machine.name %></b>
		<% end %>
		<i><%= tijd.end_datetime %></i><br /><br />
	<% end %>