<div class="bubbles">
    <h1> WasApp </h1>
</div>

<div class="content">

    <div id="wrapper">
        <div id="carousel">
           <div>
               <img src="http://coolcarousels.frebsite.nl/c/17/img/fruit1.png" alt="fruit1" width="200" height="200" />
               <span>Apple</span>
           </div>
           <div>
               <img src="http://coolcarousels.frebsite.nl/c/17/img/fruit2.png" alt="fruit2" width="200" height="200" />
               <span>Mandarin</span>
           </div>
           <div>
               <img src="http://coolcarousels.frebsite.nl/c/17/img/fruit3.png" alt="fruit3" width="200" height="200" />
               <span>Banannas</span>
           </div>
           <div>
               <img src="http://coolcarousels.frebsite.nl/c/17/img/fruit4.png" alt="fruit4" width="200" height="200" />
               <span>Cherries</span>
           </div>
           <div>
               <img src="http://coolcarousels.frebsite.nl/c/17/img/fruit5.png" alt="fruit5" width="200" height="200" />
               <span>Orange</span>
           </div>
           <div>
               <img src="http://coolcarousels.frebsite.nl/c/17/img/fruit7.png" alt="fruit7" width="200" height="200" />
               <span>Lemon</span>
           </div>
           <div>
               <img src="http://coolcarousels.frebsite.nl/c/17/img/fruit8.png" alt="fruit8" width="200" height="200" />
               <span>Grapes</span>
           </div>
           <div>
               <img src="http://coolcarousels.frebsite.nl/c/17/img/fruit9.png" alt="fruit9" width="200" height="200" />
               <span>Peach</span>
           </div>
           <div>
               <img src="http://coolcarousels.frebsite.nl/c/17/img/fruit10.png" alt="fruit10" width="200" height="200" />
               <span>Pear</span>
           </div>
           <div>
               <img src="http://coolcarousels.frebsite.nl/c/17/img/fruit11.png" alt="fruit11" width="200" height="200" />
               <span>Strawberry</span>
           </div>
           <div>
               <img src="http://coolcarousels.frebsite.nl/c/17/img/fruit6.png" alt="fruit12" width="200" height="200" />
               <span>Melon</span>
           </div>
        </div>
    </div>

    <%= link_to 'Wasbeurt toevoegen', new_tijd_path , :class => 'btn'%><br />
    <br /><br />



    <% @machines.each do |machine| %>
    <b><%= machine.name %></b><br/>
    <% end %>

</div>
<div class="year"> - All rights reserved - </div>
